<html>
  <head>
    <title>Classement Colons de Catane</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:regular,bold' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/media/css/colons.css" type="text/css">
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div id="container">
      <div id="menu">{% block menu %}{% endblock %}</div>
      <div id="content">{% block content %}{% endblock %}</div>
    </div>
    {% block extra_body %}{% endblock %}
  </body>
</html>
