{% extends "base.html" %}

{% block menu %}
<p>
  <a href="/admin/ranking/game/add/" class='button'>Ajouter une partie</a>
</p>
<ul class="frame">
  <li {% if page == 'Total' %}class='highlight'{% endif %}><a href="/">Total</a> ({{ total }} parties)</li>
  {% for y in years %}
  <li {% if y.0 == page %}class='highlight'{% endif %}><a href="/year/{{ y.0 }}">{{ y.0 }}</a> ({{ y.1 }} parties)</li>
  {% endfor %}
</ul>
{% endblock %}

{% block content %}
<p>
<h2>Classement {{ page }}</h2>
<table cellspacing="0" class="frame">
  <tr>
    <th>Nom</th>
    <th>Rating</th>
    <th>% Victoire</th>
    <th>Victoires</th>
    <th>Parties</th>
    <th>Score moyen</th>
  </tr>
  {% for r in ranking %}
  <tr>
    <td>
      <a href="/player/{{ r.0|slugify }}">{{ r.0 }}</a>
    </td>
    <td>{{ r.1 }}</td>
    <td>{{ r.2 }}</td>
    <td>{{ r.3 }}</td>
    <td>{{ r.4 }}</td>
    <td>{{ r.5 }}</td>
  </tr>
  {% endfor %}
</table>
</p>

<p>
<h2>Parties</h2>
<table class="frame">
  <tr>
    <th>Date</th>
    <th>Joueur 1</th>
    <th>Joueur 2</th>
    <th>Joueur 3</th>
    <th>Joueur 4</th>
  </tr>
  {% for g in games %}
  <tr>
    <td>{{ g.play_date }}</td>
    {% for s in g.score_set.all %}
    <td>{{ s.player.name }} {{ s.score }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
</p>

{% endblock %}



