{% extends "base.html" %}

{% block content %}
<p>
<h2>Classement {{ page }}</h2>
<table cellspacing="0" class="frame">
  <tr>
    <td>Nom</td>
    <td>Rating</td>
    <td>% Victoire</td>
    <td>Victoires</td>
    <td>Parties</td>
    <td>Score moyen</td>
  </tr>
  {% for r in ranking %}
  <tr>
    <td>{{ r.0 }}</td>
    <td>{{ r.1 }}</td>
    <td>{{ r.2 }}</td>
    <td>{{ r.3 }}</td>
    <td>{{ r.4 }}</td>
    <td>{{ r.5 }}</td>
  </tr>
  {% endfor %}
</table>
</p>

<p>
<h2>Parties</h2>
<table class="frame">
  <tr>
    <td>Date</td>
    <td>Joueur 1</td>
    <td>Joueur 2</td>
    <td>Joueur 3</td>
    <td>Joueur 4</td>
  </tr>
  {% for g in games %}
  <tr>
    <td>{{ g.play_date }}</td>
    {% for s in g.score_set.all %}
    <td>{{ s.player.name }} {{ s.score }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
</p>

{% endblock %}



